.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: canvasText;

	& table {
		width: 100%;
		border-collapse: collapse;
		font-size: 1.5rem;

		&.empty {
			opacity: .5;
			
			& tr:first-of-type {
				display: none;
			}

			& tr.empty {
				display: block;
			}
		}

		& tr.empty {
			display: none;
		}

		& td,
		& th {
			padding: 1rem 3rem;
			border: 1px solid #333;
			text-align: center;
		}

		& th {
			background-color: canvasText;
			color: canvas;
		}

		.title {
			font-weight: 700;
		}

		.priority {
			font-weight: 700;
			color: canvas;
			background-color: canvasText;
			border-radius: .5rem;
			padding: .5rem 1rem;

			&::before {
				content: "";
				display: inline-block;
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				margin-right: .5rem;
				background-color: var(--clr, canvasText);
			}

			&::after {
				content: '';
				right: 0;
			}

			&[data-priority="1"]::before {
				--clr: #109b10;
			}
			
			&[data-priority="2"]::before {
				--clr: #e6b800;
			}
			
			&[data-priority="3"]::before {
				--clr: #8d0d0d;
			}

			&[data-priority="1"]::after {
				content: 'Low';
			}
			
			&[data-priority="2"]::after {
				content: ' Medium';
			}
			
			&[data-priority="3"]::after {
				content: 'High';
			}
		}

		.actions {
			display: flex;
			align-items: center;
			justify-content: center;

			& .btn {
				margin: 0 1rem;
				padding: 1rem;
				background: none;
				border: 1px solid var(--clr, #fff);
				border-radius: .5rem;
				color: var(--clr, #fff);
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: .4s ease-in-out;

				& i {
					transition: scale .4s ease-in-out;
				}

				&:hover {
					background-color: var(--clr, #fff);
					color: #fff;

					& i {
						scale: 1.1;
					}
				}
			}

			& .btn.delete {
				--clr: #e91616;
			}

			& .btn.edit {
				--clr: #16e216;
			}

			& .btn.info {
				--clr: #1bbaf0;
			}
		}
	}
}